<h1>Twitter</h1>
<div>
    <a href="/">
        <button>
            Home
        </button>
    </a>
    <a href="/tweet/">
        <button>
            Tweet
        </button>
    </a>
    <a href="/user-profile/{{request.user.id}}/">
        <button>
            Profile
        </button>
    </a>
    <a href="/notifications/">
        <button>
            Notifications
        </button>
    </a>
    <a href="/login/">
        <button>
            Login
        </button>
    </a>
    <a href="/signup/">
        <button>
            SignUp
        </button>
    </a>
    <a href="/logout/">
        <button>
            Logout
        </button>
    </a>
</div>
<p>Hi, {{request.user.username}} you are viewing {{user}}'s Profile</p>
<hr>
<a href="/tweets/">
    <button>
        All Tweets
    </button>
</a>
<h3>
   {{user}}'s Profile Page 
</h3>
<div>
    {% if following == True %}
        <form method="POST" action="">
            {% csrf_token %}
            <input type="submit" value="UnFollow">
        </form>
    {% endif %}
    {% if following == False %}
        <form method="POST" action="">
            {% csrf_token %}
            <input type="submit" value="Follow">
        </form>
    {% endif %}
</div>
<h3>Tweets: {{ total_tweets }} Following: {{ total_followers }}</h3>
<hr>
<ul>
    {% for tweet in user_tweets %}
    <li><a href="/tweet-details/{{tweet.id}}/">{{tweet.tweet_post}}</a> - By:<a href="/user-profile/{{tweet.tweeter.id}}/">{{tweet.tweeter}}</a></li>
    {% endfor %}
</ul>